<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
	例如namespace="com.szh.mapper.personMapper"就是com.szh.mapper(包名)+personMapper(personMapper.xml文件去除后缀) -->
<mapper namespace="com.fh.mapper.CityMapper">

    <!-- 查询所有城市 -->
    <select id="queryCityList" resultType="City">
        select * from t_area_copy
    </select>

    <!-- 新增城市 -->
    <insert id="addCity" parameterType="City">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
          select last_insert_id()
        </selectKey>
        insert into t_area_copy(name,pid,type)
        values (#{name},#{pid},#{type})
    </insert>

    <!-- 删除城市 -->
    <delete id="deleteCity" parameterType="java.util.List">
        delete from t_area_copy where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
    </delete>

    <!-- 修改城市 -->
    <update id="updateCity" parameterType="City">
        update t_area_copy set
        name=#{name},type=#{type}
        where id = #{id}
    </update>

    <!-- 根据Pid查询所有城市 -->
    <select id="queryCityListByPid" parameterType="int" resultType="City">
        select * from t_area_copy where pid = #{pid}
    </select>

</mapper>