<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
	例如namespace="com.szh.mapper.personMapper"就是com.szh.mapper(包名)+personMapper(personMapper.xml文件去除后缀) -->
<mapper namespace="com.fh.mapper.RolePermissionMapper">

    <insert id="addRolePermissions" parameterType="java.util.List">
        insert into t_role_permission(roleId,permissionId) values
        <foreach collection="list" item="abc" separator=",">
            (#{abc.roleId},#{abc.permissionId})
        </foreach>
    </insert>

    <select id="queryRolePermissionListByRoleId" parameterType="int" resultType="RolePermission">
      select * from t_role_permission
      where roleId = #{roleId}
    </select>

    <delete id="deleteRolePermissionByRoleId" parameterType="int">
      delete from t_role_permission where roleId = #{aaa}
    </delete>

</mapper>